.heading{
    font-size:25px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px gray;
}
.Note{
    font: size 18px;
    color:black;
}
.copy_right_footer{
    position:fixed;
    color: white;
    bottom:0;
    width:100%;
    line-height:3;
    background-color:gray;
    text-align:center;
}
.copy_right_footer:hover{
    background-color:black;
    font-size:25px;
}
canvas{
    border:5px soild black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}
body{
    background-image:url("https://th.bing.com/th/id/R.4ba46066a6a7fe7c68f8266e5e00ff7c?rik=JB3K3fUBV32XAA&pid=ImgRaw&r=0");
    background-size:cover;
    background-position:center;
}